// cards.scss - Custom Cards for Laraspace..

.card {
  margin-bottom: 1.5rem;
  overflow: hidden;
  .card-header{

    i {
      width: 1.3em;
    }

    h4 {
      font-size: 1rem;
      font-weight: normal;
      margin: 0;
    }

    h3 {
      font-weight: normal;
      margin: 0;
      font-size: $font-size-section-title;
    }

    h5 {
       margin: 0;
      font-weight: normal;
    }


    &.bg-dark {
      background-color: $ls-color-secondary;
      color: $white;
    }

  }

  .section-semi-title {
    font-size: $font-size-semi-section-title;
    text-transform: uppercase;
    font-weight: 400;
  }

  .card-footer{
    background-color:$white;
  }


  &.with-tabs .card-block{
    padding-top:10px !important;
  }

  .bg-primary,
  .bg-info,
  .bg-primary,
  .bg-dark,
  .bg-success,
  .bg-danger,
  .bg-warning{
    h3,h5{
      color: $white;
    }
  }

}

