//summernote editor
.note-editor {

  .dropdown-menu {

    h1, h2, h3, h4, h5, h6, pre, .note-palette-title, .note-dimension-display {
      color: $white;
    }
    a:hover {

      h1, h2, h3, h4, h5, h6, pre {
        color: $black;
      }
    }
  }
}

