.form-wizard-1 {

    .steps ul {
        border-bottom: 1px solid #333;
    }

    > .steps {
        margin-top: 20px;

        > ul > li > a {

            //height: 40px;
            background: #eee !important;
            //width: 100%;
            //text-align: center;
            //border-top-left-radius: 8px;
            //border-top-right-radius: 8px;
            //display: flex;
            //justify-content: center;
            //align-items: center;
            //flex-wrap: wrap;

             &,&:hover,&:active {
                 height: 40px;
                 width: 100%;
                 text-align: center;
                 border-radius:0px;
                 border-top-left-radius: 8px;
                 border-top-right-radius: 8px;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 flex-wrap: wrap;
                 //
                 //display: inherit;
                 //width: 100%;
                 margin: 0px 5px;
                 //padding: 0;
                 ///* text-decoration: none; */
                 //border-radius: 0;

             }
        }

        > ul > li > a > .icon-fa {
            margin: 0;
            width: 40px;
        }

        > ul > li.error > a {
            background: $ls-color-red;
            color: $white;
        }

        .current a,
        .current a:active ,
        .current a:hover {
            color: $ls-color-black;
            background-color: $ls-color-primary !important;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        .done a,
        .done a:active,
        .done a:hover {
            background: lighten($ls-color-primary, 30%) !important;
            box-shadow: none;
            color: $ls-color-black
        }

        > ul > li:first-child {
            margin-left: 0;
        }

        > ul > li:last-child {
            margin-right: 0;
        }

        > ul > li{
            //margin: auto 5px;
        }

        .number {
            display: none;
        }
    }

    > .actions > ul > li {
        margin: auto 5px;
    }
}
@media (max-width: $medium-breakpoint){

    .form-wizard-1 {

        .content {
            min-height: 520px;
        }
    }
}