// Image Cropper
// -------------------------

.image-cropper {

    .docs-toggles {
        margin-top: 10px;
    }

    .docs-preview {
        margin-right: -1rem;

        .img-preview {
            background-color: #f7f7f7;
            width: 100%;
            text-align: center;
            float: left;
            margin-right: .5rem;
            margin-bottom: .5rem;
            overflow: hidden;

            & > img {
                max-width: 100%;
            }
            &.preview-lg {
                width: 16rem;
                height: 9rem;
            }

            &.preview-md {
                width: 8rem;
                height: 4.5rem;
            }

            &.preview-sm {
                width: 4rem;
                height: 2.25rem;
            }

            &.preview-xs {
                width: 2rem;
                height: 1.125rem;
                margin-right: 0;
            }
        }
    }

    .docs-buttons {
        margin-top: 10px;

        .btn {
            height: 40px;
        }

        .btn-upload, .btn-group-justified {
            margin: 0;
        }

        .input-group-addon {
            color: #fff;
            background-color: #007dcc;
            border-color: #007dcc;
        }
    }

    .docs-set .row {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    img {
        max-width: 100%;
    }
}

@media (max-width: $large-breakpoint) {

    .image-cropper {

        .docs-buttons {
            max-width: 100%;
        }

        .img-cropper-col {
            max-width: 100%;
            flex: 100%;
        }

        .docs-data .input-group {
            max-width: 60%;
        }

    }
}