// demo.scss - Styles for Preview pages

.buttons-demo {
  .btn {
    margin-bottom: 10px;
  }

  .btn-group-vertical .btn {
    margin-bottom: 0;
  }
}

.btn-group-vertical {
  margin-right: 20px;
}

.source-link {
  font-size: 0.9rem;
  color: $ls-color-gray--very-dark;
}

// ICON DEMO
.icon-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.icon-container .demo-icon {
  flex: 1;
  display: flex;
  flex-direction: row;
  min-width: 300px;
  margin-bottom: 20px;
}

.icon-container .demo-icon .icon-classname {
  margin-left: 20px;
}

.icon-container .demo-icon .icon-box {
  height: 50px;
  width: 50px;
  padding: 10px;
  border: 2px solid #FFEB3B;
  border-radius: 3px;
  font-size: 20px;
  text-align: center;
}

.icon-container .demo-icon .icon-box:hover {
  background-color: #FFEB3B;
}

//BASIC UI
.progress {
  margin-top: 20px;
}
  /*********Gallery************/

.my-gallery img {
  border: 5px solid #eee;
}
.my-gallery figcaption {
  display: none;
  margin-top: 30px;
}
.my-gallery-container .group{
  padding: 10px 5px;
  float: left;
}
.my-gallery-container .item{
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 2px;
}
.my-gallery-container .item:hover {
  opacity: 0.8;
}
.youtube-video-gallery .demo,.vimeo-video-gallery .demo iframe{
  border: 5px solid #eee;
}
.embed-responsive{
  margin-bottom: 15px;
}

//COMPONENTS
  /* Image Cropper */
.docs-buttons .btn{
  height: 40px;
}
.docs-buttons .btn-upload, .docs-buttons .btn-group-justified{
  margin:0;
}
.docs-set .row{
  margin-top: 20px;
  margin-bottom: 40px;
}
.input-group-addon{
  color: #fff;
  background-color: #007dcc;
  border-color: #007dcc;
}
img {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}
  /* Calander */
.fc-state-default {
  background-color: #007dcc !important;
  background-image: none !important;
  background-repeat: no-repeat !important;
  border-color: #007dcc !important;
  color: #fff !important;
  text-shadow: none !important;
  box-shadow: none !important;
}
.fc-state-default:hover {
  background-color: #005e99 !important;
  border-color: #00588f !important;
}
.fc-event,
.fc-event-dot {
  border: 1px solid #3a87ad;
  background-color: #acb7bf; /* default BACKGROUND color */
}
.fc-event-list{
  list-style-type: none;
  padding: 0;
}
.fc-event-dot {
  margin-right: 20px;
}

// SKINS DEMO
.skin-tools {
  position: fixed;
  top: 200px;
  right: -400px;
  z-index: 900;
  width: 400px;
  transition: all .3s;

  .skin-tools-action {
    position: absolute;
    top: 1px;
    left: -48px;
    padding: 8px 16px;
    font-size: 20px;
    cursor: pointer;
    background-color: $white;
    color: $ls-color-black;
    box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.15);
    border-left: 1px solid rgba(222, 227, 231, 0.56);
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }

  .skin-tools-content {
    height: 100%;
    min-height: 100px;
    padding: 5px 20px 20px;
    background-color: $white;
    color: $ls-color-black;
    border: 1px solid rgba(0, 0, 0, .08);
    border-radius: 0 3px 3px;
  }

  h5 {
    margin-bottom: 10px;
    color: $ls-color-black;
  }

  .skin-radio.active::after {
    background-image: url('/assets/admin/img/skins/tick.png');
    background-size: 100% auto;
    width: 20px;
    height: 20px;
    content: '';
    position: absolute;
    top: -6px;
    right: 6px;
    z-index: 10;
  }

  .skin-radio.active img {
    opacity: 1;
  }

  .skin-radio img {
    opacity: 0.5;
  }

  &.is-open {
    right: 0;
  }

}

@include media-breakpoint-down(sm) {

  .skin-tools {
    top: 100px;
    right: -250px;
    width: 250px;

    .skin-item {
      margin-bottom: .5rem;
    }
  }
}

@media (max-width: $small-breakpoint) {

  .skin-tools {
    top: 100px;
    right: -250px;
    width: 250px;

    .skin-item {
      margin-bottom: 1rem;
    }

    .skin-item:last-child {
      margin-bottom: 0;
    }
  }

}