.wizard ul, .tabcontrol ul {
    display: flex;
}

.wizard > .steps > ul > li, .wizard > .actions > ul > li {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
}

.wizard > .steps > ul > li:not(:last-child):after, .wizard > .steps > ul > li:not(:first-child):before {
    content: '';
    width: 50%;
    height: 3px;
    top: 27px;
    background: #eee;
    position: absolute;
    z-index: 0;
}

.wizard > .content > .title, .tabcontrol > .content > .title {
    display: none;
}

.wizard > .steps > ul > li.done:after, .wizard > .steps > ul > li.current:before,
.wizard > .steps > ul > li.done:before {
    background: #FFDE00 !important;
}

.wizard > .steps > ul > li.last.done.finish:before {
    background: #FFDE00 !important;
}

.wizard > .steps > ul > li.current:after,
.wizard > .steps > ul > li.current ~ li:after,
.wizard > .steps > ul > li.current ~ li:before {
    background: #EEE !important;
}

.wizard > .steps > ul > li:after {
    right: 0;
}

.wizard > .steps > ul > li:before {
    left: 0;
}

.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {
    padding-top: 65px;
    background: none !important;
    color: #000000;
}

.wizard > .steps .disabled a, .wizard > .steps .disabled a:hover, .wizard > .steps .disabled a:active {
    padding-top: 65px;
    background: none !important;
    color: #000000;
}

.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active {
    background: none !important;
    color: black;
    padding-top: 65px;
}

.wizard > .steps .number {
    font-size: 1.429em;
    position: absolute;
    background: #FFFFFF;
    border: 2px solid #eee;
    cursor: default;
    width: 60px;
    border-radius: 50%;
    line-height: 2.45;
    text-align: center;
    top: 0;
    margin-left: -6px;
    z-index: 100;
}

.wizard > .actions .disabled a, .wizard > .actions .disabled a:hover, .wizard > .actions .disabled a:active {
    background: #eee;
    color: #aaa;
}

.wizard > .steps .current .number {
    border: 2px solid #FFDE00;
}

.wizard > .steps .done .number {
    background: #FFDE00 !important;
    border: 2px solid #FFDE00;
}

.wizard > .steps .current-info, .tabcontrol > .steps .current-info {
    display: none;
}

.wizard > .content > .body {
    float: left;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}

.wizard > .content {
    top: 50px;
    display: block;
    margin: 0.5em;
    min-height: 25em;
    overflow: hidden;
    position: relative;
    width: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard > .actions {
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
}

.wizard > .actions > ul {
    display: inline-block;
    text-align: right;
}

.wizard ul, .tabcontrol ul {
    list-style: none !important;
    padding: 0;
    margin: 0;
}

.wizard > .steps > ul > li, .wizard > .actions > ul > li {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
}

.wizard > .actions > ul > li {
    margin: 0 0.5em;
}

.wizard > .steps > ul > li, .wizard > .actions > ul > li {
    float: left;
}

.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
    background: #2184be;
    color: #fff;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard.icon-wizard > .steps .number {
    display: none;
}

.wizard.icon-wizard > .steps ul > li > a > i {
    font-size: 1.429em;
    position: absolute;
    background: #FFFFFF;
    border: 2px solid #eee;
    cursor: default;
    width: 60px;
    border-radius: 50%;
    line-height: 2.45;
    text-align: center;
    top: 0;
    margin-left: -6px;
    z-index: 100;
}

.wizard.icon-wizard > .steps ul > li.current > a > i {
    border: 2px solid #FFDE00;
}

.wizard.icon-wizard > .steps ul > li.done > a > i {
    background: #FFDE00 !important;
    border: 2px solid #FFDE00;
}

.wizard.icon-wizard > .steps ul > li.current.error > a > i {
    border: 2px solid #f35a3d;
}

.wizard label.error {
    color: #f35a3d;
}

.wizard .form-control.error {
    border-color: #f35a3d;
}

.wizard.vertical-wizard > .steps {
    display: inline;
    float: left;
    width: 30%;
}

.wizard.vertical-wizard ul {
    flex-direction: column;
}

.wizard.vertical-wizard > .steps > ul > li:not(:last-child):after,
.wizard.vertical-wizard > .steps > ul > li:not(:first-child):before{
    display: none;
}
.wizard.vertical-wizard > .steps > ul > li{
    margin-top: 10px;
}