.side-nav ul.submenu{
  li {
    &.has-child > a::before {
      border-color: $sidemenu-arrow-color transparent transparent;
      content: '\f067';
      position: absolute;
      right: 21px;
      top: 50%;
      transform: rotate(-90deg);
      transition: all .2s ease-in-out;
      width: 0;
    }
  }
}

.side-nav ul.submenu {
  background: #464646;
}