.my-gallery {

    &.youtube-video-gallery,
    &.vimeo-video-gallery,
    &.image-gallery {

        .demo, img {
            border: 5px solid #eee;
        }

        .embed-responsive {
            margin-bottom: 15px;
        }

        figcaption {
            display: none;
            margin-top: 30px;
        }

        .my-gallery-container {

            .group {
                padding: 10px 5px;
                float: left;
            }

            .item {
                box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 2px;

                &:hover {
                    opacity: 0.8;
                }
            }

        }

    }
}